{% extends 'base.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Competence index</h1>
<div class="container">
    <a href="{{ path('competence_new') }}">Create new</a>

    <table class="table text-dark">
        <thead class="thead-light text-center">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.name }}</td>
                <td>{{ competence.image }}</td>
                <td>
                    <a href="{{ path('competence_show', {'id': competence.id}) }}">show</a>
                    <a href="{{ path('competence_edit', {'id': competence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
