<div id="intro-down-arrow-target" class="landing-quote">
    <div class="wrapper"><div class="blockquote">
            <figure class="background">
                <img src="{{ asset('build/left-quotes-sign.png') }}" alt="Quote Left">
                <blockquote>Je ne perds jamais. Soit je gagne, soit j’apprends</blockquote>
                <figcaption>Nelson Mandela</figcaption>
                <img src="{{ asset('build/right-quotes-symbol.png') }}" alt="Quote Right">
            </figure>
        </div>
    </div>
</div>

<h2 class="title text-center text-dark mt-5">Mes formations</h2>
<div id="home_quicklinks">
    {% for formation in formations %}
    <a class="quicklink" >
        <span class="ql_caption">
            <span class="outer">
                <span class="inner">
                    <h3>{{ formation.name }}</h3>
                     <p class="card-text">
                         {{ formation.date }} </br>
                         {{ formation.etablissement }} </br>
                         {{ formation.city }}
                    </p>
                </span>
            </span>
        </span>
        <span class="ql_top"></span>
        <span class="ql_bottom"></span>
    </a>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
</div>

