<div id="intro-down-arrow-target" class="landing-quote">
    <div class="wrapper"><div class="blockquote">
            <figure class="background">
                <img src="{{ asset('build/left-quotes-sign.png') }}" alt="Quote Left">
                <blockquote>Chaque difficulté rencontrée doit être l’occasion d’un nouveau progrès</blockquote>
                <figcaption>Pierre de Coubertin</figcaption>
                <img src="{{ asset('build/right-quotes-symbol.png') }}" alt="Quote Right">
            </figure>
        </div>
    </div>
</div>
<h2 class="title text-center text-dark mt-5">Mes projets</h2>
<div class="row">

    {% for project in projects %}

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="project card margin">
                <div class="card-body">
                    <h3 class="card-title text-center"> {{ project.name }}</h3>
                    <h4 class="card-title text-center"> {{ project.language }}</h4>
                    <h4 class="card-title text-center"> {{ project.objectif }}</h4>
                    <h5 class="card-title text-center"> {{ project.description }}</h5>
                </div>
            </div>
        </div>
    {% else %}
        Il n'y as pas de projet actuellement
    {% endfor %}
</div>