{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Project index</h1>
<div class="container">
    <a href="{{ path('project_new') }}">Create new</a>

    <table class="table text-dark">
        <thead class="thead-dark text-center">
            <tr class="thead-light text-center">
                <th>Id</th>
                <th>Name</th>
                <th>Language</th>
                <th>Objectif</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody >
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.language }}</td>
                <td>{{ project.objectif }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.image }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
